@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

#navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6%;
    width: 60em;
    height: 10em;
    max-height: 10em;

    #title {
        font-family: 'Freehand', cursive;
        font-size: 2.5rem;
    }

    .flex-row {
        justify-content: space-evenly;
        width: 60%;
    }
}